include LICENSE
include README
include README.md
include CHANGES.rst
include requirements.txt
recursive-include testpool *.py
recursive-include bin *.py
recursive-include scripts *.service
include bin/tpl
include bin/testpooldaemon
include bin/testpooldb
include etc/testpool/testpool.conf
include etc/init/testpooldb.conf
include debian/python-testpool.postinst
