include LICENSE
include README
include README.md
include CHANGES.rst
include requirements.txt
recursive-include testpool *.py
recursive-include bin *.py
recursive-include scripts *.service
include bin/tpl
include bin/tpl-daemon
include bin/tpl-db
include etc/testpool/testpool.yml
include etc/logrotate.d/testpool
include debian/python-testpool.postinst
include debian/python-testpool.prerm
