requests>=2.10.0
Django==1.8.4
pytz>=2015.7
djangorestframework>=3.4.1
libvirt-python>=1.3.0
ipaddr>=2.1.11
structlog>=16.1.0
pyyaml
easydict
django-pure-pagination==0.2.1
django-split-settings==0.1.3
