[Unit]
Description=testpooldb

[Service]
Type=simple
##
# running stdbuf changes testpooldb stdout buffer to only one line.
ExecStart=/usr/bin/stdbuf -oL /usr/bin/testpooldb runserver -v 1
Restart=always

[Install]
WantedBy=multi-user.target
