{% extends "base.html" %}

{% block content %}

<H1>Pool</H1>
<table>
 <tr>
  <th>Name</th><td>{{ pool.name }}</td>
 </tr><tr>
  <th>Template</th><td>{{ pool.template_name}}</td>
 </tr><tr>
  <th>Status</th><td>{{ pool.status_str }}</td>
 </tr><tr>
  <th>Hosts</th><td>{{pool.resource_set.count}}/{{ pool.resource_max}}</td>
 </tr>
</table>

{% if pool.traceback_set.all %}
<h1>Bad Status Details</h1>
 {% for level in pool.traceback_set.all %}
  <pre>{{ level }}</pre>
 {% endfor %}
{% endif %}

<H1>Hosts</H1>
<table width="100%">
 <tr>
  <th>Name</th><th>IP Addr</th><th>Status</th>
 </tr>
 {% for rsrc in rsrcs %}
  <tr>
   <td>{{ rsrc.name }}</td>
   <td>{{ rsrc.ip_addr }}</td>
   <td>{{ rsrc.status_as_str }}</td>
  </tr>
 {% endfor %}
</table>
{% endblock %}
