{% extends "base.html" %}
{% block content %}

<div id="container"></div>
{% load staticfiles %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{% static "js/dashboard.js" %}"></script>

{% block javascript %}
 <script type="text/javascript">
  dashboard_view();
 </script>
{% endblock %}

{% endblock %}
