Source: testpool
Section: shells
Priority: optional
Maintainer: Mark Hamilton (mark.lee.hamilton@gmail.com) 
Build-Depends: debhelper (>=7.0.50~)
XS-Python-Version: >=2.7
Standards-Version: 3.9.8.0

Package: testpool
Architecture: all
Homepage: http://yourprojectshomepade.com/
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: Blah python module that adds blah and bleh (this must not exceed a single line (i.e 60 characters)
 Here you should put a long description your package. This line *MUST* (this is
 faor default printing) begin with a single space.
 Look for more information about this:
 http://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-Description
