{% extends "base.html" %}

{% block content %}

<H1>Profile</H1>
<table>
 <tr>
  <th>Name</th><td>{{ profile.name }}</td>
 </tr><tr>
  <th>Template</th><td>{{ profile.template_name}}</td>
 </tr><tr>
  <th>Status</th><td>{{ profile.status_str }}</td>
 </tr><tr>
  <th>Hosts</th><td>{{profile.resource_set.count}}/{{ profile.resource_max}}</td>
 </tr>
</table>

{% if profile.traceback_set.all %}
<h1>Bad Status Details</h1>
 {% for level in profile.traceback_set.all %}
  <pre>{{ level }}</pre>
 {% endfor %}
{% endif %}

<H1>Hosts</H1>
<table width="100%">
 <tr>
  <th>Name</th><th>IP Addr</th><th>Status</th>
 </tr>
 {% for rsrc in rsrcs %}
  <tr>
   <td>{{ rsrc.name }}</td>
   <td>{{ rsrc.ip_addr }}</td>
   <td>{{ rsrc.status_as_str }}</td>
  </tr>
 {% endfor %}
</table>
{% endblock %}
