{% extends "base.html" %}

{% block content %}

<H1>Profiles Statistics</H1>
<table>
 <tr>
  <th>Host</th><th>Profile</th><th>Ready</th><th>Reserved</th><th>Pending</th><th>Bad</th><th>Max</th>
 </tr>
 {% for profile in profiles %}
  <tr>
   <td>{{profile.hostname}}</td>
   <td>{{profile.name}}</td>
   <td>{{profile.vm_ready}}</td>
   <td>{{profile.vm_reserved}}</td>
   <td>{{profile.vm_pending}}</td>
   <td>{{profile.vm_bad}}</td>
   <td>{{profile.vm_max}}</td>
   <td><a href="profile/detail/{{profile.hostname}}/{{profile.name}}">detail</a></td>
  </tr>
 {% endfor %}
</table>
{% endblock %}
